
{% extends 'base.html' %} 

    <!-- Navigation-->
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Manage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    {% endblock%}


    <!-- Header-->
    {% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Manage Items</h1>
                <p class="lead fw-normal text-white-50 mb-0">商品の追加、編集、削除を行う</p>
            </div>
        </div>
    </header>
    {% endblock%} 


    <!-- Section-->
    {% block content%}
    <section class="py-5">

        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">

                <!-- Product-->
                {% for item in items %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->

                        <a href="{% url 'update_item' item.pk %}"
                        tabindex="-1"
                        role="button"
                        >
                        {% if item and item.image %}
                            <img class="card-img-top"
                                src="{{ item.image.url }}"
                                style="height: 200px; object-fit: cover;">
                        {% else %}
                            <img class="card-img-top item-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        {% endif %}                        
                        </a>

                        <!-- Product details-->
                        <div class="card-body p-4 d-flex flex-column">
                            <div class="text-center flex-grow-1">
                                <h5 class="fw-bolder">{{ item.name }}</h5>
                                {{ item.price }}円
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="d-flex justify-content-center gap-2">
                                <a class="btn btn-outline-dark mt-auto" href="{% url 'update_item' item.pk %}">編集</a>
                                <a class="btn btn-outline-danger mt-auto" href="{% url 'delete_item' item.pk %}">削除</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- New Product -->
                <div class="col mb-5">
                    <div class="card h-100 border-1 shadow-sm text-center">

                        <div class="card-body p-5 d-flex flex-column justify-content-center">
                            <div>
                                <div class="mb-3" style="font-size: 2rem;">＋</div>
                                <h5 class="fw-bold mb-2">新しい商品を追加</h5>
                                <p class="text-muted small">クリックして商品を登録</p>
                            </div>
                        </div>

                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-0 bg-transparent">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-success px-4" href="{% url 'create_item'%}">作成</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        
    </section>

    {% endblock content%} 

    
    <!-- Footer-->
    {% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    {% endblock footer%} 
